<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Immigrants Association of Hayward</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="author" content="wp-organic" />
    <meta name="MobileOptimized" content="320" />
    {% load staticfiles %}
    <!-- favicon-icon -->
    <!-- <link rel="icon" type="image/icon" href="{% static 'images/favicon/favicon.ico' %}"> -->
    <!-- bootstrap css -->
    <link href="{% static 'muhajireen/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- fontawesome css -->
    <link href="{% static 'muhajireen/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- flat icons css -->
    <link href="{% static 'muhajireen/css/flaticon.css' %}" rel="stylesheet" type="text/css"/>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- menu css -->
    <link href="{% static 'muhajireen/css/menumaker.css' %}" rel="stylesheet" type="text/css"/>
    <!-- owl carousel css -->
    <link href="{% static 'muhajireen/css/owl.carousel.css' %}" rel="stylesheet" type="text/css"/>
    <!-- magnify popup css -->
    <link href="{% static 'muhajireen/css/magnific-popup.css' %}" rel="stylesheet" type="text/css"/>
    <!-- datepicker css -->
    <link href="{% static 'muhajireen/css/datepicker.css' %}" rel="stylesheet" type="text/css"/>
    <!-- custom css -->
    <link href="{% static 'muhajireen/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'muhajireen/css/custom.css' %}" rel="stylesheet"/>

</head>
<body>
    <!-- preloader -->
      <!-- <div class="preloader">
        <div class="status">
          <div class="status-message">
          </div>
        </div>
      </div> -->
      <!-- end preloader -->

    {% include "muhajireen/nav.html" %}
<!-- search -->
  <div class="search">
    <div class="container clearfix">
      <input type="search" class="search-box" placeholder="Type anything here...."/>
      <a href="#" class="fa fa-times search-close"></a>
    </div>
  </div>
<!-- end search -->
<!--  page banner -->
  <header id="page-banner" class="banner-main-block">
    <div class="banner-img" style="background-image: url('/static/muhajireen/images/top-banner.jpg')">
      <div class="overlay-bg"></div>
      <div class="container">
        <div class="banner-block">
          <h3 class="section-heading">Contact us</h3>
          <!-- <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active"><a>Contact Us</a></li>
          </ol> -->
        </div>
      </div>
    </div>
  </header>
<!--  end page banner -->
<!--  map -->
  <!-- <div id="location" class="map-location"></div> -->
<!--  end map -->
<!--  contact detail -->
  <!-- <section id="contact" class="contact-main-block contact-two">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-spacing">
          <div class="contact-block block-one">
            <div class="contact-icon"><i class="fa fa-home"></i></div>
            <h4 class="contact-heading">Our Address</h4>
            <p class="contact-address">185 Folsom Avenue
              Hayward, CA 94544</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-spacing">
          <div class="contact-block block-two">
            <div class="contact-icon"><i class="fa fa-phone"></i></div>
            <h4 class="contact-heading">Contact Number</h4>
            <p class="contact-no"><a href="tel:(510) 786-0313">(510) 786-0313</a><br><a href="tel:(510) 786-0313">012 123 456 789</a></p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-spacing">
          <div class="contact-block block-three">
            <div class="contact-icon"><i class="fa fa-envelope"></i></div>
            <h4 class="contact-heading">Email Address</h4>
            <p class="mail-to">
              <a href="mailto:wporganic@example.com?Subject=Hello%20again" target="_top">wporganic@example.com</a><br>
              <a href="mailto:wporganic@example.com?Subject=Hello%20again" target="_top">wporganic@example.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section> -->
<!--  end contact two  -->
<!--  contact form  -->
  <section id="contact-form" class="form-main-block">
    <!-- <div class="section">
      <h4 class="section-heading">Contact With Us</h4>
      <h5 class="sub-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at<br> euismod ex. Maecenas sit amet sollicitudin ex.</h5>
    </div> -->
    <div class="container">
      <div class="row">
       <div class="contact-form-block">
          <form class="contact-form" method="post" action="contact-us.php">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="form-group">
                <input type="text" class="form-control" id="number" name="number" placeholder="Phone Number" required>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="form-group">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email Address" required>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <textarea id="message" class="form-control" name="message" placeholder="Message"></textarea>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <button type="submit" class="btn btn-default">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
<!-- end contact form -->

{% include "muhajireen/footer.html" %}

<!-- jquery -->
<!-- jquery library js -->
<script type="text/javascript" src="{% static 'muhajireen/js/jquery.min.js' %}"></script>
<!-- bootstrap js -->
<script type="text/javascript" src="{% static 'muhajireen/js/bootstrap.min.js' %}"></script>
 <!-- owl carousel js -->
<script type="text/javascript" src="{% static 'muhajireen/js/owl.carousel.js' %}"></script>
<!-- mail chimp js -->
<script type="text/javascript" src="{% static 'muhajireen/js/jquery.ajaxchimp.js' %}"></script>
<!-- smooth scroll js -->
<script type="text/javascript" src="{% static 'muhajireen/js/smooth-scroll.js' %}"></script>
<!-- magnify popup js-->
<script type="text/javascript" src="{% static 'muhajireen/js/jquery.magnific-popup.min.js' %}"></script>
<!-- menu js-->
<script type="text/javascript" src="{% static 'muhajireen/js/menumaker.js' %}"></script>
<!-- price slider js -->
<script type="text/javascript" src="{% static 'muhajireen/js/price-slider.js' %}"></script>
 <!-- event countdown js -->
<script type="text/javascript" src="{% static 'muhajireen/js/jquery.countdown.js' %}"></script>
<!-- custom js -->
<script type="text/javascript" src="{% static 'muhajireen/js/theme.js' %}"></script>
<!-- end jquery -->

<script>
  $(function($) {
    // Asynchronously Load the map API
    var script = document.createElement('script');
    script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyCPiD1PA0lAitb0U3bKmdywNfdfThqPcGg&sensor=false&callback=initialize";
    document.body.appendChild(script);
  });
  function initialize(){
    var myLatLng = {lat: 23.0201818, lng:  72.439655}; // Insert Your Latitude and Longitude For Footer Wiget Map
    var mapOptions = {
      center: myLatLng,
      zoom: 14,
      disableDefaultUI: true,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
    }
    // For Footer Widget Map
    var map = new google.maps.Map(document.getElementById("location"), mapOptions);
    var image = 'images/icons/map.png';
    var beachMarker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      icon: image
    });
  }
</script>
<!-- end jquery -->
</body>
<!--body end -->
</html>
