<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Immigrants Association of Hayward</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta name="author" content="wp-organic" />
        <meta name="MobileOptimized" content="320" />
        {% load staticfiles %}
        <!-- favicon-icon -->
        <!-- <link rel="icon" type="image/icon" href="{% static 'images/favicon/favicon.ico' %}"> -->
        <!-- bootstrap css -->
        <link href="{% static 'muhajireen/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
        <!-- fontawesome css -->
        <link href="{% static 'muhajireen/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- flat icons css -->
        <link href="{% static 'muhajireen/css/flaticon.css' %}" rel="stylesheet" type="text/css"/>
        <!-- google font -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
        <!-- menu css -->
        <link href="{% static 'muhajireen/css/menumaker.css' %}" rel="stylesheet" type="text/css"/>
        <!-- owl carousel css -->
        <link href="{% static 'muhajireen/css/owl.carousel.css' %}" rel="stylesheet" type="text/css"/>
        <!-- magnify popup css -->
        <link href="{% static 'muhajireen/css/magnific-popup.css' %}" rel="stylesheet" type="text/css"/>
        <!-- datepicker css -->
        <link href="{% static 'muhajireen/css/datepicker.css' %}" rel="stylesheet" type="text/css"/>
        <!-- custom css -->
        <link href="{% static 'muhajireen/css/style.css' %}" rel="stylesheet"/>
        <link href="{% static 'muhajireen/css/custom.css' %}" rel="stylesheet"/>


    </head>
    <body>
        <!-- preloader -->
          <!-- <div class="preloader">
            <div class="status">
              <div class="status-message">
              </div>
            </div> -->
          </div>
          <!-- end preloader -->
      {% include "muhajireen/nav.html" %}

        <!-- search -->
          <div class="search">
            <div class="container clearfix">
              <input type="search" class="search-box" placeholder="Type anything here...."/>
              <a href="#" class="fa fa-times search-close"></a>
            </div>
          </div>
        <!--end search -->

        <div class="chalkboard p-3" style="background-image: url('{% static "muhajireen/images/website_background.jpg" %}'); height: 350px; padding-top: 50px;">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-lg-2">
                <div class="card card-inverse card-prayer p-3 mb-1 text-center">
                  <blockquote class="card-blockquote">
                    <h5>FAJR</h5>
                    <h3>6:30 AM</h3>
                    <footer>
                      <small id="fajr_time"></small>
                    </footer>
                  </blockquote>
                </div>

                <div class="card card-inverse card-prayer p-3 mb-1 text-center">
                  <blockquote class="card-blockquote">
                    <h5>DHUHR</h5>
                    <h3>1:30 PM</h3>
                    <footer>
                      <small id="dhuhr_time"></small>
                    </footer>
                  </blockquote>
                </div>
              </div>
            <div class="col-md-4 col-lg-2">
              <div class="card card-inverse card-prayer p-3 mb-1 text-center">
                <blockquote class="card-blockquote">
                  <h5>ASR</h5>
                  <h3>3:45 PM</h3>
                  <footer>
                    <small id="asr_time"></small>
                  </footer>
                </blockquote>
              </div>

              <div class="card card-inverse card-prayer p-3 mb-1 text-center">
                <blockquote class="card-blockquote">
                  <h5>MAGHRIB</h5>
                  <h3 id="maghrib_time"></h3>
                  <footer>
                    <small>Sunset</small>
                  </footer>
                </blockquote>
              </div>
            </div>
            <div class="col-md-4 col-lg-2">
              <div class="card card-inverse card-prayer p-3 mb-1 text-center">
                <blockquote class="card-blockquote">
                  <h5>ISHA</h5>
                  <h3>8:00 PM</h3>
                  <footer>
                    <small id="isha_time"></small>
                  </footer>
                </blockquote>
              </div>
              <div class="card card-inverse card-prayer p-3 mb-1 text-center" style="height: 126px; overflow: auto;">
                <blockquote class="card-blockquote">
                  <footer>
                    <small style="color: #4f7d70;text-transform: capitalize;text-align: left;">
                      <div>On Monday, January 15; Dhuhr will change to 1:00, Asr will change to 4:00.</div>
                    </small>
                  </footer>
                </blockquote>
              </div>
            </div>
            <div class="col-md-4 col-lg-3">
              <div class="card card-inverse card-prayer p-3 mb-1 text-center">
                <blockquote class="card-blockquote">
                  <h5 title="Masjid al-Mustafa (Harris Way) Jumuah" data-toggle="tooltip" data-placement="bottom"  >MaM JUMUAH</h5>
                  <h3>12:15 PM</h3>
                  <footer>
                    <small style="color:#4f7d70">
                          Imam Name
                    </small>
                  </footer>
                </blockquote>
              </div>

                <div class="card card-inverse card-prayer p-3 mb-1 text-center">
                  <blockquote class="card-blockquote">
                      <h5 title="Downtown Jumuah" data-toggle="tooltip" data-placement="bottom"  >DT JUMUAH</h5>
                      <h3>12:15 PM</h3>
                      <footer>
					              <small style="color:#4f7d70">
                              By: Shiekh Name
                        </small>
                      </footer>
                  </blockquote>
                </div>
            </div>
            <div class="col-md-8 col-lg-3">
              <div class="card card-inverse card-danger card-donate p-3 mb-1 text-center">
                <h1 style="font-family: 'Source Sans Pro', sans-serif;"><i>donate</i></h1>
                <h5 class="donation-text">
                  Enter Donation Amount
                </h5>
                <!-- regular donations form -->

                <form action="/pay" method="POST">
                    {% csrf_token %}
                    <input type="number" name="amount" id="custom-donation" placeholder="Amount" min="1.00" step="10.00 " style="margin:10px; color:black"/>
                    <script
                     src="https://checkout.stripe.com/checkout.js"
                     class="stripe-button"
                     data-key="pk_test_Klm4pdAv1nKmUPfI6IHIAZEY"
                     data-name="Masjid Muhajireen"
                     data-image="{% static 'muhajireen/images/muhajir_logo.png' %}"
                     data-label="DONATE"
                     data-zip-code="true"
                     data-allow-remember-me="false"
                     data-panel-label="Donate"
                     data-amount= required
                     data-locale="auto">
                    </script>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>



          <section id="causes" class="causes-main-block">
            <div class="container">
              <div class="section text-center">
                <h3 class="section-heading">Join Us</h3>
                <h5 class="sub-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at  euismod ex, Maeceans sit amet sollicitudin ex.</h5>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="causes-item">
                    <div class="cause-img">
                      <!-- <img src="images/cause-01.jpg" class="img-responsive" alt="causes-img-1"> -->
                      <img src="{% static 'muhajireen/images/cause-1.png' %}" class="img-responsive" alt="causes-img-1">
                    </div>
                    <div class="causes-content">
                      <h5 class="causes-heading">Speaking for Ourselves</h5>
                      <p class="causes-dtl">Fear has become toxic towards the stereotyping and marginalization of your Muslim-American neighbors. Hear from five practicing Muslims about being Muslim in America, Ilamophobia, the challenges of ISIS, and how we can be better neighbors and friends in our community.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="causes-item">
                    <div class="cause-img">
                      <!-- <img src="images/cause-02.jpg" class="img-responsive" alt="causes-img-2"> -->
                      <img src="{% static 'muhajireen/images/cause-2.png' %}" class="img-responsive" alt="causes-img-1">
                    </div>
                    <div class="causes-content">
                      <h5 class="causes-heading">Preperations for Ramadan</h5>
                      <p class="causes-dtl">COME AND JOIN US FOR THE FINAL HAYWARD HALAQAH UNTIL AFTER RAMADAN! WE STARTED WITH SHAYKH SAADULLAH AND WE WILL END WITH SHAYKH SAADULLAH! COME ON AND ALL, AND TAKE BENEFIT ON HOW WE CAN PREPARE OURSELVES FOR RAMADAN!</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="causes-item">
                    <div class="cause-img">
                      <!-- <img src="images/cause-01.jpg" class="img-responsive" alt="causes-img-1"> -->
                      <img src="{% static 'muhajireen/images/cause-1.png' %}" class="img-responsive" alt="causes-img-1">
                    </div>
                    <div class="causes-content">
                      <h5 class="causes-heading">Speaking for Ourselves</h5>
                      <p class="causes-dtl">Fear has become toxic towards the stereotyping and marginalization of your Muslim-American neighbors. Hear from five practicing Muslims about being Muslim in America, Ilamophobia, the challenges of ISIS, and how we can be better neighbors and friends in our community.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="causes-item">
                    <div class="cause-img">
                      <!-- <img src="images/cause-02.jpg" class="img-responsive" alt="causes-img-2"> -->
                      <img src="{% static 'muhajireen/images/cause-2.png' %}" class="img-responsive" alt="causes-img-1">
                    </div>
                    <div class="causes-content">
                      <h5 class="causes-heading">Preperations for Ramadan</h5>
                      <p class="causes-dtl">COME AND JOIN US FOR THE FINAL HAYWARD HALAQAH UNTIL AFTER RAMADAN! WE STARTED WITH SHAYKH SAADULLAH AND WE WILL END WITH SHAYKH SAADULLAH! COME ON AND ALL, AND TAKE BENEFIT ON HOW WE CAN PREPARE OURSELVES FOR RAMADAN!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        <!--  end causes -->

{% include "muhajireen/footer.html" %}


        <!-- jquery -->
        <!-- jquery library js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/jquery.min.js' %}"></script>
        <!-- bootstrap js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/bootstrap.min.js' %}"></script>
         <!-- owl carousel js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/owl.carousel.js' %}"></script>
        <!-- mail chimp js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/jquery.ajaxchimp.js' %}"></script>
        <!-- smooth scroll js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/smooth-scroll.js' %}"></script>
        <!-- magnify popup js-->
        <script type="text/javascript" src="{% static 'muhajireen/js/jquery.magnific-popup.min.js' %}"></script>
        <!-- menu js-->
        <script type="text/javascript" src="{% static 'muhajireen/js/menumaker.js' %}"></script>
        <!-- price slider js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/price-slider.js' %}"></script>
         <!-- event countdown js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/jquery.countdown.js' %}"></script>
        <!-- custom js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/theme.js' %}"></script>
        <!-- end jquery -->
        <script type="text/javascript" src="{% static 'muhajireen/js/prayTime.js' %}"></script>
        <script type="text/javascript" src="{% static 'muhajireen/js/muhajireen.js' %}"></script>
    </body>
</html>
