<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Immigrants Association of Hayward</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="author" content="wp-organic" />
    <meta name="MobileOptimized" content="320" />
    {% load staticfiles %}
    <!-- favicon-icon -->
    <!-- <link rel="icon" type="image/icon" href="{% static 'images/favicon/favicon.ico' %}"> -->
    <!-- bootstrap css -->
    <link href="{% static 'muhajireen/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- fontawesome css -->
    <link href="{% static 'muhajireen/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- flat icons css -->
    <link href="{% static 'muhajireen/css/flaticon.css' %}" rel="stylesheet" type="text/css"/>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- menu css -->
    <link href="{% static 'muhajireen/css/menumaker.css' %}" rel="stylesheet" type="text/css"/>
    <!-- owl carousel css -->
    <link href="{% static 'muhajireen/css/owl.carousel.css' %}" rel="stylesheet" type="text/css"/>
    <!-- magnify popup css -->
    <link href="{% static 'muhajireen/css/magnific-popup.css' %}" rel="stylesheet" type="text/css"/>
    <!-- datepicker css -->
    <link href="{% static 'muhajireen/css/datepicker.css' %}" rel="stylesheet" type="text/css"/>
    <!-- custom css -->
    <link href="{% static 'muhajireen/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'muhajireen/css/custom.css' %}" rel="stylesheet"/>

</head>
<body>
    <!-- preloader -->
      <!-- <div class="preloader">
        <div class="status">
          <div class="status-message">
          </div>
        </div>
      </div> -->
      <!-- end preloader -->
      {% include "muhajireen/nav.html" %}
<!-- search -->
  <div class="search">
    <div class="container clearfix">
      <input type="search" class="search-box" placeholder="Type anything here...."/>
      <a href="#" class="fa fa-times search-close"></a>
    </div>
  </div>
<!-- end search -->
<!--  page banner -->
  <header id="page-banner" class="banner-main-block">
    <div class="banner-img" style="background-image: url('/static/muhajireen/images/top-banner.jpg')">
      <div class="overlay-bg"></div>
      <div class="container">
        <div class="banner-block">
          <h3 class="section-heading">Khutbas</h3>
          <!-- <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active"><a>Khutbas</a></li>
          </ol> -->
        </div>
      </div>
    </div>
  </header>
<!--  end page banner  -->

{% include "muhajireen/footer.html" %}

<!-- jquery -->
<!-- jquery library js -->
<script type="text/javascript" src="{% static 'muhajireen/js/jquery.min.js' %}"></script>
<!-- bootstrap js -->
<script type="text/javascript" src="{% static 'muhajireen/js/bootstrap.min.js' %}"></script>
 <!-- owl carousel js -->
<script type="text/javascript" src="{% static 'muhajireen/js/owl.carousel.js' %}"></script>
<!-- mail chimp js -->
<script type="text/javascript" src="{% static 'muhajireen/js/jquery.ajaxchimp.js' %}"></script>
<!-- smooth scroll js -->
<script type="text/javascript" src="{% static 'muhajireen/js/smooth-scroll.js' %}"></script>
<!-- magnify popup js-->
<script type="text/javascript" src="{% static 'muhajireen/js/jquery.magnific-popup.min.js' %}"></script>
<!-- menu js-->
<script type="text/javascript" src="{% static 'muhajireen/js/menumaker.js' %}"></script>
<!-- price slider js -->
<script type="text/javascript" src="{% static 'muhajireen/js/price-slider.js' %}"></script>
 <!-- event countdown js -->
<script type="text/javascript" src="{% static 'muhajireen/js/jquery.countdown.js' %}"></script>
<!-- custom js -->
<script type="text/javascript" src="{% static 'muhajireen/js/theme.js' %}"></script>
<!-- end jquery -->

</body>
</html>
