
<!-- footer -->
  <footer id="footer" class="footer-main-block">
    <div class="bg-img" style="background-image: url('images/footer-bg.jpg')">
      <div class="overlay-bg"></div>
      <div class="container">
        <div class="row footer-block">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="footer-logo">
              <a href="index.html"><img src="images/footer-logo.png" class="img-responsive" alt="footer-logo"></a>
            </div>
            <div class="row footer-content">
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"><p>Masjid Muhajireen</p></div>
              <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"><p>185 Folsom Ave<br>Hayward, CA 94544</p></div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"><p>Phone:</p></div>
              <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"><p class="contact-no"><a href="tel:5107860313">(510) 786-0313</a></p></div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"><p>Email:</p></div>
              <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <p class="mail-to"><a href="mailto:info@masjidmuhajireen.org?Subject=Assalamulaykum" target="_top">info@masjidmuhajireen.org</a></p>
              </div>
            </div>
          </div>
          <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="footer-section">
              <h6 class="footer-heading">Recent Posts</h6>
            </div>
            <div class="footer-content">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3 footer-post"><a href="blog-dtl.html"><img src="images/footer/post-thumb-01.jpg" class="img-responsive" alt="post-img-01"></a></div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9 footer-post"><a href="blog-dtl.html"><p>Vivamus et tincidunt ligula. Vivamus<br><span class="footer-post-date">12 April 2017</span></p></a></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3 footer-post"><a href="blog-dtl.html"><img src="images/footer/post-thumb-02.jpg" class="img-responsive" alt="post-img-02"></a></div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9 footer-post"><a href="blog-dtl.html"><p>Vivamus et tincidunt ligula. Vivamus<br><span class="footer-post-date">12 April 2017</span></p></a></div>
              </div>
            </div>
          </div> -->
          <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="footer-section">
              <h6 class="footer-heading">Our Causes</h6>
            </div>
            <div class="accor-widget footer-cause-block">
              <div class="panel-group cause-panel" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <p class="panel-title question-heading">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="btn btn-default cause-btn cause-btn-minus"><i class="fa fa-minus"></i></span>
                        <span class="btn btn-default cause-btn cause-btn-plus"><i class="fa fa-plus"></i></span>
                        Do you have an installation service?
                      </a>
                    </p>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <p>Dramatically redefine effective users for synergistic e-business.</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <p class="panel-title question-heading">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <span class="btn btn-default cause-btn cause-btn-minus"><i class="fa fa-minus"></i></span>
                        <span class="btn btn-default cause-btn cause-btn-plus"><i class="fa fa-plus"></i></span>
                        Are updates free of charge?
                      </a>
                    </p>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      <p>Dramatically redefine effective users for synergistic e-business.</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <p class="panel-title question-heading">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        <span class="btn btn-default cause-btn cause-btn-minus"><i class="fa fa-minus"></i></span>
                        <span class="btn btn-default cause-btn cause-btn-plus"><i class="fa fa-plus"></i></span>
                        Can i use Semona on all projects?
                      </a>
                    </p>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      <p>Dramatically redefine effective users for synergistic e-business.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="footer-section">
              <h6 class="footer-heading">Our Gallery</h6>
            </div>
            <div class="footer-content portfolio-popup">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 portfolio-item">
                <div class="portfolio-img">
                  <img src="images/footer/gallery-thumb-01.jpg" class="img-responsive" alt="gallery-thumb-01">
                  <div class="portfolio-overlay"><a href="images/gallery/gallery-07.jpg"><i class="fa fa-plus"></i></a></div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 portfolio-item">
                <div class="portfolio-img">
                  <img src="images/footer/gallery-thumb-02.jpg" class="img-responsive" alt="gallery-thumb-02">
                  <div class="portfolio-overlay"><a href="images/ministry/ministry-leader.jpg"><i class="fa fa-plus"></i></a></div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 portfolio-item">
                <div class="portfolio-img">
                  <img src="images/footer/gallery-thumb-03.jpg" class="img-responsive" alt="gallery-thumb-03">
                  <div class="portfolio-overlay"><a href="images/donation/donation-04.jpg"><i class="fa fa-plus"></i></a></div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 portfolio-item">
                <div class="portfolio-img">
                  <img src="images/footer/gallery-thumb-04.jpg" class="img-responsive" alt="gallery-thumb-04">
                  <div class="portfolio-overlay"><a href="images/gallery/gallery-06.jpg"><i class="fa fa-plus"></i></a></div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 portfolio-item">
                <div class="portfolio-img">
                  <img src="images/footer/gallery-thumb-05.jpg" class="img-responsive" alt="gallery-thumb-05">
                  <div class="portfolio-overlay"><a href="images/gallery/gallery-09.jpg"><i class="fa fa-plus"></i></a></div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 portfolio-item">
                <div class="portfolio-img">
                  <img src="images/footer/gallery-thumb-06.jpg" class="img-responsive" alt="gallery-thumb-06">
                  <div class="portfolio-overlay"><a href="images/gallery/gallery-10.jpg"><i class="fa fa-plus"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-dtl text-center">
            <p>Copyright &copy; 2017 <a href="/">Masjid Muhajireen</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
<!-- end footer -->
