<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Al Muhajireen</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta name="description" content="" />
        <meta name="author" content="wp-organic" />
        <meta name="MobileOptimized" content="320" />
        {% load staticfiles %}
        <!-- favicon-icon -->
        <link rel="icon" type="image/icon" href="{% static 'images/favicon/favicon.ico' %}">
        <!-- bootstrap css -->
        <link href="{% static 'muhajireen/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
        <!-- fontawesome css -->
        <link href="{% static 'muhajireen/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- flat icons css -->
        <link href="{% static 'muhajireen/css/flaticon.css' %}" rel="stylesheet" type="text/css"/>
        <!-- google font -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
        <!-- menu css -->
        <link href="{% static 'muhajireen/css/menumaker.css' %}" rel="stylesheet" type="text/css"/>
        <!-- owl carousel css -->
        <link href="{% static 'muhajireen/css/owl.carousel.css' %}" rel="stylesheet" type="text/css"/>
        <!-- magnify popup css -->
        <link href="{% static 'muhajireen/css/magnific-popup.css' %}" rel="stylesheet" type="text/css"/>
        <!-- datepicker css -->
        <link href="{% static 'muhajireen/css/datepicker.css' %}" rel="stylesheet" type="text/css"/>
        <!-- custom css -->
        <link href="{% static 'muhajireen/css/style.css' %}" rel="stylesheet"/>
        <link href="{% static 'muhajireen/css/custom.css' %}" rel="stylesheet"/>

    </head>
    <body>
        <!-- preloader -->
          <div class="preloader">
            <div class="status">
              <div class="status-message">
              </div>
            </div>
          </div>
        <!--  navigation -->
          <div class="nav-bar navbar-fixed-top">
            <div class="container">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div >
                    <a href="https://www.facebook.com/masjidmuhajireen" target="_blank" class="facebook marginup"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.youtube.com/channel/UCrwB_jiiYOXwrlNRfgEWA1w" target="_blank" class="youtube marginup"><i class="fa fa-youtube"></i></a>
                    <a href="https://plus.google.com/103987408569147251579" target="_blank" class="google-plus marginup"><i class="fa fa-google-plus"></i></a>
                </div>
                  <div class="logo marginup">
                    <a href="#"><img src="{% static 'muhajireen/images/muhajir_logo.png' %}" alt="logo"></a>
                  </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <div class="navigation-menu">
                    <div id="cssmenu">
                      <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a>
                          <ul>
                            <li><a href="/masjid_info">Masjid Information</a></li>
                            <li><a href="">FAQs- Questions</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Visit Us</a></li>
                        <li><a href="#">Sermons</a></li>
                        <li><a href="#">Programs</a></li>
                        <li><a href="#">Sunday</a>
                        </li>
                        <li><a href="">Contact Us</a></li>
                        <li class="donate-btn"><a href="#" class="btn btn-default">Donate</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!--  end navigation -->

        <!--  slider -->
          <header id="home-slider" class="slider-main-block">
            <div class="item home-slider-img" style="background-image: url('{% static "muhajireen/images/slider1.png" %}');">
              <div class="overlay-bg"></div>
              <div class="container">
                <div class="slider-dtl">
                  <h1 class="slider-heading">Support Masjid Muhajireen</h1>
                  <h5 class="slider-subheading">"In fact, the mosques of Allah are built up only by those who believe in Allah and the Last Day and those who establish prayer and pay zakah and who fear none but Allah. So, it is in all likelihood that they are to be among those on the right path." (Al-Qur'an 9:17-18)</h5>
                  <div class="slider-btn">
                    <span class="slider-donate-btn"><a href="#" class="btn btn-default">Donate</a></span>
                  </div>
                  <!-- <img src="{% static 'muhajireen/images/ramadan17.png' %}"  alt="logo"> -->
                </div>
              </div>
            </div>
            <div class="item home-slider-img" style="background-image: url('{% static "muhajireen/images/slider2b.png" %}');">
              <div class="overlay-bg"></div>
              <div class="container">
                <div class="slider-dtl">
                  <h1 class="slider-heading">Ramadan 2017 at Mosque of Muhajireen</h1>
                  <h5 class="slider-subheading">Taraweeh prayers at the Masjid Muhajireen will start at 10 p.m. for the first three nights of Ramadan and 10:10 p.m. thereafter. The Taraweeh prayers are led by Qari Safiullah Samady. ​May Allah (swt) accept all our worship and supplications in this month of mercy and grace. Ameen.</h5>
                  <div class="slider-btn">
                    <span class="slider-donate-btn"><a href="#" class="btn btn-default">Download the Ramadan Calendar</a></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item home-slider-img"  style="background-image: url('{% static "muhajireen/images/slider3.png" %}');">
              <div class="overlay-bg"></div>
              <div class="container">
                <div class="slider-dtl">
                  <h1 class="slider-heading">Mosque of Muhajireen</h1>
                  <h5 class="slider-subheading">Masjid Muhajireen welcomes visitors at all times in order foster a culture of tolerance and understanding in the San Francisco Bay Area. The prayer times (shown on the frontpage) in particular, are excellent times to visit the center in order to meet local Muslims and observe Muslim's worship.</h5>
                  <div class="slider-btn">
                  </div>
                </div>
              </div>
            </div>
          </header>
        <!--  end slider -->
        <!--  about  -->

        <!-- Prayer time -->
        <section id="event-counter" class="event-counter-main-block">
          <div class="container-fluid">
            <div class="row row-full-spacing">
              <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                <div class="event-counter-blockOne">
                  <div class="bg-img" style="background-image: url('images/event/event-bg.jpg')">
                    <div class="overlay-bg"></div>
                    <div class="event-counter-block">
                      <div class="row">
                        <div class="col-sm-offset-3 col-sm-1 col-xs-offset-2 col-xs-1">
                          <div class="event-counter-icon"><i class="fa fa-calendar"></i></div>
                        </div>
                        <div class="col-sm-8 col-xs-9">
                          <div class="event-counter-content">
                            <h2 class="event-counter-heading">Prayer Time<i class="fa fa-long-arrow-right"></i></h2>
                            <h5 class="event-counter-subheading">" Indeed, prayer has been decreed upon the believers a decree of specified times." Quran 4:103</h5>
                            <h5 class="event-counter-subheading">"The Messenger of Allah (peace be upon him and his progeny) said: “The first thing that Allah made obligatory upon my Ummah was the five prayers; and the first thing from their acts of worship that shall be taken up will be the five prayers; and the first thing that they will be questioned about will be the five prayers.”</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="event-counter-blockOne">
                  <div align="center" class="bg-img" style="margin-top:30px;">
                      <iframe id="iframe" style="width: 182px; height: 350px; border: 1px solid #ddd;" frameborder="0" scrolling="no" src="https://www.islamicfinder.org/prayer-widget/104515/shafi/1/0/15.0/15.0"> </iframe>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!--  event  -->
        <!--  end event -->

        <!-- jquery -->
        <!-- jquery library js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/jquery.min.js' %}"></script>
        <!-- bootstrap js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/bootstrap.min.js' %}"></script>
         <!-- owl carousel js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/owl.carousel.js' %}"></script>
        <!-- mail chimp js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/jquery.ajaxchimp.js' %}"></script>
        <!-- smooth scroll js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/smooth-scroll.js' %}"></script>
        <!-- magnify popup js-->
        <script type="text/javascript" src="{% static 'muhajireen/js/jquery.magnific-popup.min.js' %}"></script>
        <!-- menu js-->
        <script type="text/javascript" src="{% static 'muhajireen/js/menumaker.js' %}"></script>
        <!-- price slider js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/price-slider.js' %}"></script>
         <!-- event countdown js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/jquery.countdown.js' %}"></script>
        <!-- custom js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/theme.js' %}"></script>
        <!-- end jquery -->

    </body>
</html>
