<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]> -->
<html lang="en">
<!-- <![endif]-->
<!-- head -->
<head>
    <meta charset="utf-8">
    <title>Masjid Muhajireen</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <!-- <meta name="description" content="Church - HTML Template" /> -->
    <!-- <meta name="keywords" content="Church HTML Template, church, html template, html theme, church theme,bible, charity, christ, christian, church, churches, events, mosque, non profit, religion, religious, sermon"> -->
    <meta name="author" content="wp-organic" />
    <meta name="MobileOptimized" content="320" />
    {% load staticfiles %}
    <!-- favicon-icon -->
    <!-- <link rel="icon" type="image/icon" href="{% static 'images/favicon/favicon.ico' %}"> -->
    <!-- bootstrap css -->
    <link href="{% static 'muhajireen/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- fontawesome css -->
    <link href="{% static 'muhajireen/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- flat icons css -->
    <link href="{% static 'muhajireen/css/flaticon.css' %}" rel="stylesheet" type="text/css"/>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- menu css -->
    <link href="{% static 'muhajireen/css/menumaker.css' %}" rel="stylesheet" type="text/css"/>
    <!-- owl carousel css -->
    <link href="{% static 'muhajireen/css/owl.carousel.css' %}" rel="stylesheet" type="text/css"/>
    <!-- magnify popup css -->
    <link href="{% static 'muhajireen/css/magnific-popup.css' %}" rel="stylesheet" type="text/css"/>
    <!-- datepicker css -->
    <link href="{% static 'muhajireen/css/datepicker.css' %}" rel="stylesheet" type="text/css"/>
    <!-- custom css -->
    <link href="{% static 'muhajireen/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'muhajireen/css/custom.css' %}" rel="stylesheet"/>

</head>
<body>
    <!-- preloader -->
      <!-- <div class="preloader">
        <div class="status">
          <div class="status-message">
          </div>
        </div>
      </div> -->
      <!-- end preloader -->
      {% include "muhajireen/nav.html" %}
<!-- search -->
  <div class="search">
    <div class="container clearfix">
      <input type="search" class="search-box" placeholder="Type anything here...."/>
      <a href="#" class="fa fa-times search-close"></a>
    </div>
  </div>
<!-- end search -->
<!--  page banner -->
  <header id="page-banner" class="banner-main-block">
    <div class="banner-img" style="background-image: url('/static/muhajireen/images/top-banner.jpg')">
      <div class="overlay-bg"></div>
      <div class="container">
        <div class="banner-block">
          <h3 class="section-heading">Khutbas</h3>
          <!-- <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active"><a>Khutbas</a></li>
          </ol> -->
        </div>
      </div>
    </div>
  </header>
<!--  end page banner  -->
<!--  sermons  -->
  <section id="sermons" class="sermons-vertical-main-block sermons-vTwo">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="sermons-vertical-block">
            <div class="sermons-img block-effect">
              <img src="images/sermons/sermons-page-01.jpg" class="img-responsive" alt="sermons-img-1">
            </div>
            <div class="sermons-icon">
              <ul>
                <li>
                    <a class="popup-video" href="https://video-vh.s3.envato.com/h264-video-previews/e0657980-289f-4c5a-9ba0-2c730b9c990a/19398708.mp4"><i class="flaticon-video-player"></i></a>
                </li>
                <li>
                    <a class="popup-video" href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/72365194&#038;auto_play=false&#038;hide_related=false&#038;show_comments=true&#038;show_user=true&#038;show_reposts=false&#038;visual=true"><i class="flaticon-headphones"></i></a>
                </li>
                <li><a href="uploads/demo.zip" target="_blank" class="cloud"><i class="flaticon-cloud-computing"></i></a></li>
                <li><a href="uploads/demo.pdf" class="pdf"><i class="flaticon-pdf"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="sermons-content">
            <div class="sermons-item">
              <a href="sermons-dtl.html"><h4 class="sermons-heading">Praesent elementum ante.</h4></a>
              <div class="sermons-desc">
                <p class="sermons-speaker">Speaker : <a href="sermons-dtl.html">Johan Tom</a></p>
                <p class="sermons-date">Date : 02 - 01 - 2017</p>
              </div>
              <p class="sermons-dtl">Aliquam laoreet orci quis risus vulputate tem Quisque aliquet, ipsum at mattis mattis, tortor nibh cursus lorem, ac iaculis metus sem vitae purus.</p>
              <a class="read-more" href="sermons-dtl.html">Read More<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="sermons-vertical-block">
            <div class="sermons-img block-effect">
              <img src="images/sermons/sermons-page-02.jpg" class="img-responsive" alt="sermons-img-2">
            </div>
            <div class="sermons-icon">
              <ul>
                <li>
                    <a class="popup-video" href="https://vimeo.com/1084537"><i class="flaticon-video-player"></i></a>
                </li>
                <li>
                    <a class="popup-video" href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/72365194&#038;auto_play=false&#038;hide_related=false&#038;show_comments=true&#038;show_user=true&#038;show_reposts=false&#038;visual=true"><i class="flaticon-headphones"></i></a>
                </li>
                <li><a href="uploads/demo.zip" target="_blank" class="cloud"><i class="flaticon-cloud-computing"></i></a></li>
                <li><a href="uploads/demo.pdf" class="pdf"><i class="flaticon-pdf"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="sermons-content">
            <div class="sermons-item">
              <a href="sermons-dtl.html"><h4 class="sermons-heading">Praesent elementum ante.</h4></a>
              <div class="sermons-desc">
                <p class="sermons-speaker">Speaker : <a href="sermons-dtl.html">Johan Tom</a></p>
                <p class="sermons-date">Date : 02 - 01 - 2017</p>
              </div>
              <p class="sermons-dtl">Aliquam laoreet orci quis risus vulputate tem Quisque aliquet, ipsum at mattis mattis, tortor nibh cursus lorem, ac iaculis metus sem vitae purus.</p>
              <a class="read-more" href="sermons-dtl.html">Read More<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row-top-spacing">
          <div class="sermons-vertical-block">
            <div class="sermons-img block-effect">
              <img src="images/sermons/sermons-page-03.jpg" class="img-responsive" alt="sermons-img-3">
            </div>
            <div class="sermons-icon">
              <ul>
                <li>
                    <a class="popup-video" href="https://video-vh.s3.envato.com/h264-video-previews/9e51e6a1-6c95-4e54-9572-b6938581babd/19708248.mp4"><i class="flaticon-video-player"></i></a>
                </li>
                <li>
                    <a class="popup-video" href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/72365194&#038;auto_play=false&#038;hide_related=false&#038;show_comments=true&#038;show_user=true&#038;show_reposts=false&#038;visual=true"><i class="flaticon-headphones"></i></a>
                </li>
                <li><a href="uploads/demo.zip" target="_blank" class="cloud"><i class="flaticon-cloud-computing"></i></a></li>
                <li><a href="uploads/demo.pdf" class="pdf"><i class="flaticon-pdf"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="sermons-content">
            <div class="sermons-item">
              <a href="sermons-dtl.html"><h4 class="sermons-heading">Praesent elementum ante.</h4></a>
              <div class="sermons-desc">
                <p class="sermons-speaker">Speaker : <a href="sermons-dtl.html">Johan Tom</a></p>
                <p class="sermons-date">Date : 02 - 01 - 2017</p>
              </div>
              <p class="sermons-dtl">Aliquam laoreet orci quis risus vulputate tem Quisque aliquet, ipsum at mattis mattis, tortor nibh cursus lorem, ac iaculis metus sem vitae purus.</p>
              <a class="read-more" href="sermons-dtl.html">Read More<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row-top-spacing">
          <div class="sermons-vertical-block">
            <div class="sermons-img block-effect">
              <img src="images/sermons/sermons-page-04.jpg" class="img-responsive" alt="sermons-img-4">
            </div>
            <div class="sermons-icon">
              <ul>
                <li>
                    <a class="popup-video" href="https://www.youtube.com/watch?v=YE7VzlLtp-4"><i class="flaticon-video-player"></i></a>
                </li>
                <li>
                    <a class="popup-video" href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/72365194&#038;auto_play=false&#038;hide_related=false&#038;show_comments=true&#038;show_user=true&#038;show_reposts=false&#038;visual=true"><i class="flaticon-headphones"></i></a>
                </li>
                <li><a href="uploads/demo.zip" target="_blank" class="cloud"><i class="flaticon-cloud-computing"></i></a></li>
                <li><a href="uploads/demo.pdf" class="pdf"><i class="flaticon-pdf"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="sermons-content">
            <div class="sermons-item">
              <a href="sermons-dtl.html"><h4 class="sermons-heading">Praesent elementum ante.</h4></a>
              <div class="sermons-desc">
                <p class="sermons-speaker">Speaker : <a href="sermons-dtl.html">Johan Tom</a></p>
                <p class="sermons-date">Date : 02 - 01 - 2017</p>
              </div>
              <p class="sermons-dtl">Aliquam laoreet orci quis risus vulputate tem Quisque aliquet, ipsum at mattis mattis, tortor nibh cursus lorem, ac iaculis metus sem vitae purus.</p>
              <a class="read-more" href="sermons-dtl.html">Read More<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row-top-spacing">
          <div class="sermons-vertical-block">
            <div class="sermons-img block-effect">
              <img src="images/sermons/sermons-page-05.jpg" class="img-responsive" alt="sermons-img-5">
            </div>
            <div class="sermons-icon">
              <ul>
                <li>
                    <a class="popup-video" href="https://video-vh.s3.envato.com/h264-video-previews/c865f715-884d-47d7-8f1d-ef312e0c5e99/19716501.mp4"><i class="flaticon-video-player"></i></a>
                </li>
                <li>
                    <a class="popup-video" href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/72365194&#038;auto_play=false&#038;hide_related=false&#038;show_comments=true&#038;show_user=true&#038;show_reposts=false&#038;visual=true"><i class="flaticon-headphones"></i></a>
                </li>
                <li><a href="uploads/demo.zip" target="_blank" class="cloud"><i class="flaticon-cloud-computing"></i></a></li>
                <li><a href="uploads/demo.pdf" class="pdf"><i class="flaticon-pdf"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="sermons-content">
            <div class="sermons-item">
              <a href="sermons-dtl.html"><h4 class="sermons-heading">Praesent elementum ante.</h4></a>
              <div class="sermons-desc">
                <p class="sermons-speaker">Speaker : <a href="sermons-dtl.html">Johan Tom</a></p>
                <p class="sermons-date">Date : 02 - 01 - 2017</p>
              </div>
              <p class="sermons-dtl">Aliquam laoreet orci quis risus vulputate tem Quisque aliquet, ipsum at mattis mattis, tortor nibh cursus lorem, ac iaculis metus sem vitae purus.</p>
              <a class="read-more" href="sermons-dtl.html">Read More<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row-top-spacing">
          <div class="sermons-vertical-block">
            <div class="sermons-img block-effect">
              <img src="images/sermons/sermons-page-06.jpg" class="img-responsive" alt="sermons-img-6">
            </div>
            <div class="sermons-icon">
              <ul>
                <li>
                    <a class="popup-video" href="https://video-vh.s3.envato.com/h264-video-previews/669f83b8-ced7-47f4-9fd8-a6ea67326539/756957.mp4"><i class="flaticon-video-player"></i></a>
                </li>
                <li>
                    <a class="popup-video" href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/72365194&#038;auto_play=false&#038;hide_related=false&#038;show_comments=true&#038;show_user=true&#038;show_reposts=false&#038;visual=true"><i class="flaticon-headphones"></i></a>
                </li>
                <li><a href="uploads/demo.zip" target="_blank" class="cloud"><i class="flaticon-cloud-computing"></i></a></li>
                <li><a href="uploads/demo.pdf" class="pdf"><i class="flaticon-pdf"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="sermons-content">
            <div class="sermons-item">
              <a href="sermons-dtl.html"><h4 class="sermons-heading">Praesent elementum ante.</h4></a>
              <div class="sermons-desc">
                <p class="sermons-speaker">Speaker : <a href="sermons-dtl.html">Johan Tom</a></p>
                <p class="sermons-date">Date : 02 - 01 - 2017</p>
              </div>
              <p class="sermons-dtl">Aliquam laoreet orci quis risus vulputate tem Quisque aliquet, ipsum at mattis mattis, tortor nibh cursus lorem, ac iaculis metus sem vitae purus.</p>
              <a class="read-more" href="sermons-dtl.html">Read More<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row-top-spacing">
          <div class="sermons-vertical-block">
            <div class="sermons-img block-effect">
              <img src="images/sermons/sermons-page-07.jpg" class="img-responsive" alt="sermons-img-7">
            </div>
            <div class="sermons-icon">
              <ul>
                <li>
                    <a class="popup-video" href="https://vimeo.com/1084537"><i class="flaticon-video-player"></i></a>
                </li>
                <li>
                    <a class="popup-video" href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/72365194&#038;auto_play=false&#038;hide_related=false&#038;show_comments=true&#038;show_user=true&#038;show_reposts=false&#038;visual=true"><i class="flaticon-headphones"></i></a>
                </li>
                <li><a href="uploads/demo.zip" target="_blank" class="cloud"><i class="flaticon-cloud-computing"></i></a></li>
                <li><a href="uploads/demo.pdf" class="pdf"><i class="flaticon-pdf"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="sermons-content">
            <div class="sermons-item">
              <a href="sermons-dtl.html"><h4 class="sermons-heading">Praesent elementum ante.</h4></a>
              <div class="sermons-desc">
                <p class="sermons-speaker">Speaker : <a href="sermons-dtl.html">Johan Tom</a></p>
                <p class="sermons-date">Date : 02 - 01 - 2017</p>
              </div>
              <p class="sermons-dtl">Aliquam laoreet orci quis risus vulputate tem Quisque aliquet, ipsum at mattis mattis, tortor nibh cursus lorem, ac iaculis metus sem vitae purus.</p>
              <a class="read-more" href="sermons-dtl.html">Read More<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row-top-spacing">
          <div class="sermons-vertical-block">
            <div class="sermons-img block-effect">
              <img src="images/sermons/sermons-page-08.jpg" class="img-responsive" alt="sermons-img-8">
            </div>
            <div class="sermons-icon">
              <ul>
                <li>
                    <a class="popup-video" href="https://www.youtube.com/watch?v=YE7VzlLtp-4"><i class="flaticon-video-player"></i></a>
                </li>
                <li>
                    <a class="popup-video" href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/72365194&#038;auto_play=false&#038;hide_related=false&#038;show_comments=true&#038;show_user=true&#038;show_reposts=false&#038;visual=true"><i class="flaticon-headphones"></i></a>
                </li>
                <li><a href="uploads/demo.zip" target="_blank" class="cloud"><i class="flaticon-cloud-computing"></i></a></li>
                <li><a href="uploads/demo.pdf" class="pdf"><i class="flaticon-pdf"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="sermons-content">
            <div class="sermons-item">
              <a href="sermons-dtl.html"><h4 class="sermons-heading">Praesent elementum ante.</h4></a>
              <div class="sermons-desc">
                <p class="sermons-speaker">Speaker : <a href="sermons-dtl.html">Johan Tom</a></p>
                <p class="sermons-date">Date : 02 - 01 - 2017</p>
              </div>
              <p class="sermons-dtl">Aliquam laoreet orci quis risus vulputate tem Quisque aliquet, ipsum at mattis mattis, tortor nibh cursus lorem, ac iaculis metus sem vitae purus.</p>
              <a class="read-more" href="sermons-dtl.html">Read More<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-md-12 load-more text-center">
          <span class="load-more-btn"><a href="#" class="btn btn-default">Load More</a></span>
        </div>
      </div> -->
    </div>
  </section>
<!--  end sermons vtwo -->
<!--  Trending sermons -->
  <!-- <section id="trending-sermons" class="trending-main-block sermons-hOne">
    <div class="container-fluid">
      <div class="section text-center">
        <h3 class="section-heading">Trending Sermons</h3>
        <h5 class="sub-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at  euismod ex, Maeceans sit amet sollicitudin ex.</h5>
      </div>
    </div>
    <div id="trending-sermons-slider" class="trending-sermons-slider">
      <div class="item sermons-block">
        <div class="sermons-img">
          <img src="images/sermons/sermons-01.jpg" class="img-responsive" alt="sermons-img-1">
        </div>
        <div class="item sermons-horizontal-block">
          <div class="sermons-content">
            <a href="sermons-dtl.html"><h4 class="sermons-heading">Praesent elementum ante.</h4></a>
            <div class="sermons-desc">
              <p class="sermons-speaker">Speaker : <a href="sermons-dtl.html">Johan Tom</a></p>
              <p class="sermons-date">Date : 02 - 01 - 2017</p>
            </div>
            <p class="sermons-dtl">Aliquam laoreet orci quis risus vulputate tem Quisque aliquet, ipsum at mattis mattis</p>
            <a class="read-more" href="sermons-dtl.html">Read More<i class="fa fa-long-arrow-right"></i></a>
          </div>
          <div class="sermons-icon">
            <ul>
              <li>
                  <a class="popup-video" href="https://video-vh.s3.envato.com/h264-video-previews/c865f715-884d-47d7-8f1d-ef312e0c5e99/19716501.mp4"><i class="flaticon-video-player"></i></a>
              </li>
              <li>
                  <a class="popup-video" href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/72365194&#038;auto_play=false&#038;hide_related=false&#038;show_comments=true&#038;show_user=true&#038;show_reposts=false&#038;visual=true"><i class="flaticon-headphones"></i></a>
              </li>
              <li><a href="uploads/demo.zip" target="_blank" class="cloud"><i class="flaticon-cloud-computing"></i></a></li>
              <li><a href="uploads/demo.pdf" class="pdf"><i class="flaticon-pdf"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="item sermons-block">
        <div class="sermons-img">
          <img src="images/sermons/sermons-02.jpg" class="img-responsive" alt="sermons-img-2">
        </div>
        <div class="item sermons-horizontal-block">
          <div class="sermons-content">
            <a href="sermons-dtl.html"><h4 class="sermons-heading">Praesent elementum ante.</h4></a>
            <div class="sermons-desc">
              <p class="sermons-speaker">Speaker : <a href="sermons-dtl.html">Johan Tom</a></p>
              <p class="sermons-date">Date : 02 - 01 - 2017</p>
            </div>
            <p class="sermons-dtl">Aliquam laoreet orci quis risus vulputate tem Quisque aliquet, ipsum at mattis mattis</p>
            <a class="read-more" href="sermons-dtl.html">Read More<i class="fa fa-long-arrow-right"></i></a>
          </div>
          <div class="sermons-icon">
            <ul>
              <li>
                  <a class="popup-video" href="https://video-vh.s3.envato.com/h264-video-previews/9e51e6a1-6c95-4e54-9572-b6938581babd/19708248.mp4"><i class="flaticon-video-player"></i></a>
              </li>
              <li>
                  <a class="popup-video" href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/72365194&#038;auto_play=false&#038;hide_related=false&#038;show_comments=true&#038;show_user=true&#038;show_reposts=false&#038;visual=true"><i class="flaticon-headphones"></i></a>
              </li>
              <li><a href="uploads/demo.zip" target="_blank" class="cloud"><i class="flaticon-cloud-computing"></i></a></li>
              <li><a href="uploads/demo.pdf" class="pdf"><i class="flaticon-pdf"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="item sermons-block">
        <div class="sermons-img">
          <img src="images/sermons/sermons-03.jpg" class="img-responsive" alt="sermons-img-3">
        </div>
        <div class="item sermons-horizontal-block">
          <div class="sermons-content">
            <a href="sermons-dtl.html"><h4 class="sermons-heading">Praesent elementum ante.</h4></a>
            <div class="sermons-desc">
              <p class="sermons-speaker">Speaker : <a href="sermons-dtl.html">Johan Tom</a></p>
              <p class="sermons-date">Date : 02 - 01 - 2017</p>
            </div>
            <p class="sermons-dtl">Aliquam laoreet orci quis risus vulputate tem Quisque aliquet, ipsum at mattis mattis</p>
            <a class="read-more" href="sermons-dtl.html">Read More<i class="fa fa-long-arrow-right"></i></a>
          </div>
          <div class="sermons-icon">
            <ul>
              <li>
                  <a class="popup-video" href="https://video-vh.s3.envato.com/h264-video-previews/e0657980-289f-4c5a-9ba0-2c730b9c990a/19398708.mp4"><i class="flaticon-video-player"></i></a>
              </li>
              <li>
                  <a class="popup-video" href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/72365194&#038;auto_play=false&#038;hide_related=false&#038;show_comments=true&#038;show_user=true&#038;show_reposts=false&#038;visual=true"><i class="flaticon-headphones"></i></a>
              </li>
              <li><a href="uploads/demo.zip" target="_blank" class="cloud"><i class="flaticon-cloud-computing"></i></a></li>
              <li><a href="uploads/demo.pdf" class="pdf"><i class="flaticon-pdf"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="item sermons-block">
        <div class="sermons-img">
          <img src="images/sermons/sermons-04.jpg" class="img-responsive" alt="sermons-img-4">
        </div>
        <div class="item sermons-horizontal-block">
          <div class="sermons-content">
            <a href="sermons-dtl.html"><h4 class="sermons-heading">Praesent elementum ante.</h4></a>
            <div class="sermons-desc">
              <p class="sermons-speaker">Speaker : <a href="sermons-dtl.html">Johan Tom</a></p>
              <p class="sermons-date">Date : 02 - 01 - 2017</p>
            </div>
            <p class="sermons-dtl">Aliquam laoreet orci quis risus vulputate tem Quisque aliquet, ipsum at mattis mattis</p>
            <a class="read-more" href="sermons-dtl.html">Read More<i class="fa fa-long-arrow-right"></i></a>
          </div>
          <div class="sermons-icon">
            <ul>
              <li>
                  <a class="popup-video" href="https://vimeo.com/1084537"><i class="flaticon-video-player"></i></a>
              </li>
              <li>
                  <a class="popup-video" href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/72365194&#038;auto_play=false&#038;hide_related=false&#038;show_comments=true&#038;show_user=true&#038;show_reposts=false&#038;visual=true"><i class="flaticon-headphones"></i></a>
              </li>
              <li><a href="uploads/demo.zip" target="_blank" class="cloud"><i class="flaticon-cloud-computing"></i></a></li>
              <li><a href="uploads/demo.pdf" class="pdf"><i class="flaticon-pdf"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section> -->
<!-- end trending sermons -->
{% include "muhajireen/footer.html" %}

<!-- jquery -->
<!-- jquery library js -->
<script type="text/javascript" src="{% static 'muhajireen/js/jquery.min.js' %}"></script>
<!-- bootstrap js -->
<script type="text/javascript" src="{% static 'muhajireen/js/bootstrap.min.js' %}"></script>
 <!-- owl carousel js -->
<script type="text/javascript" src="{% static 'muhajireen/js/owl.carousel.js' %}"></script>
<!-- mail chimp js -->
<script type="text/javascript" src="{% static 'muhajireen/js/jquery.ajaxchimp.js' %}"></script>
<!-- smooth scroll js -->
<script type="text/javascript" src="{% static 'muhajireen/js/smooth-scroll.js' %}"></script>
<!-- magnify popup js-->
<script type="text/javascript" src="{% static 'muhajireen/js/jquery.magnific-popup.min.js' %}"></script>
<!-- menu js-->
<script type="text/javascript" src="{% static 'muhajireen/js/menumaker.js' %}"></script>
<!-- price slider js -->
<script type="text/javascript" src="{% static 'muhajireen/js/price-slider.js' %}"></script>
 <!-- event countdown js -->
<script type="text/javascript" src="{% static 'muhajireen/js/jquery.countdown.js' %}"></script>
<!-- custom js -->
<script type="text/javascript" src="{% static 'muhajireen/js/theme.js' %}"></script>
<!-- end jquery -->

</body>
</html>
