<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Al Muhajireen</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta name="description" content="" />
        <meta name="author" content="wp-organic" />
        <meta name="MobileOptimized" content="320" />
        {% load staticfiles %}
        <!-- favicon-icon -->
        <link rel="icon" type="image/icon" href="{% static 'images/favicon/favicon.ico' %}">
        <!-- bootstrap css -->
        <link href="{% static 'muhajireen/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
        <!-- fontawesome css -->
        <link href="{% static 'muhajireen/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- flat icons css -->
        <link href="{% static 'muhajireen/css/flaticon.css' %}" rel="stylesheet" type="text/css"/>
        <!-- google font -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
        <!-- menu css -->
        <link href="{% static 'muhajireen/css/menumaker.css' %}" rel="stylesheet" type="text/css"/>
        <!-- owl carousel css -->
        <link href="{% static 'muhajireen/css/owl.carousel.css' %}" rel="stylesheet" type="text/css"/>
        <!-- magnify popup css -->
        <link href="{% static 'muhajireen/css/magnific-popup.css' %}" rel="stylesheet" type="text/css"/>
        <!-- datepicker css -->
        <link href="{% static 'muhajireen/css/datepicker.css' %}" rel="stylesheet" type="text/css"/>
        <!-- custom css -->
        <link href="{% static 'muhajireen/css/style.css' %}" rel="stylesheet"/>
        <link href="{% static 'muhajireen/css/custom.css' %}" rel="stylesheet"/>
    </head>
    <body>
        <!-- preloader -->
          <div class="preloader">
            <div class="status">
              <div class="status-message">
              </div>
            </div>
          </div>
        <!--  navigation -->
          <div class="nav-bar navbar-fixed-top">
            <div class="container">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div >
                    <a href="https://www.facebook.com/masjidmuhajireen" target="_blank" class="facebook marginup"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.youtube.com/channel/UCrwB_jiiYOXwrlNRfgEWA1w" target="_blank" class="youtube marginup"><i class="fa fa-youtube"></i></a>
                    <a href="https://plus.google.com/103987408569147251579" target="_blank" class="google-plus marginup"><i class="fa fa-google-plus"></i></a>
                </div>
                  <div class="logo marginup">
                    <a href="#"><img src="{% static 'muhajireen/images/muhajir_logo.png' %}" alt="logo"></a>
                  </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <div class="navigation-menu">
                    <div id="cssmenu">
                      <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#">About us</a>
                          <ul>
                            <li><a href="/masjid_info">Masjid Information</a></li>
                            <li><a href="">FAQs- Questions</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Visit Us</a></li>
                        <li><a href="#">Sermons</a></li>
                        <li><a href="#">Programs</a></li>
                        <li><a href="#">Sunday</a>
                        </li>
                        <li><a href="">Contact Us</a></li>
                        <li class="donate-btn"><a href="#" class="btn btn-default">Donate</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!--  end navigation -->

        <!--  Page Banner -->
          <header id="page-banner" class="banner-main-block">
            <div class="banner-img" style="background-image: url('{% static "muhajireen/images/top-banner.jpg" %}');">
              <div class="overlay-bg"></div>
              <div class="container">
                <div class="banner-block">
                  <h3 class="section-heading">About us</h3>
                  <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a>About Us</a></li>
                  </ol>
                </div>
              </div>
            </div>
          </header>
        <!--  end page banner -->

        <!--  about two  -->
          <section id="about-block" class="about-main-block abt-two">
            <div class="container">
              <div class="abt-sectionTwo">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="abt-block-img">
                      <img src="{% static 'muhajireen/images/masjid_info/about_masjid1.png' %}" height="200px;" class="img-responsive" alt="abt-img-02">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="abt-dtl">
                      <p>On Thursday, November 17, 2016, representatives from Hayward's five mosques met with Hayward Mayor Barbara Halliday and David Korth, Assistant to Hayward City Manager Kelly McAdoo. The meeting was an important step to cement a positive working relationship between city and religious leaders, inform city officials about the services provided by the five mosques, and to assuage post-election jitters.</p>
                      <p>From left, Imam Mahdi Wahedi (Fatimiyya Islamic Center), Ibrahim Khan (Alameda Muslim League), Hakeem Abdullah (Mosque of Muhajireen), Barbara Halliday (City of Hayward, Mayor), Sameena Usman (CAIR-SFBA), David Korth (City of Hayward, City Manager's Office), Qari Safiullah Samady (Mosque of Muhajireen), and Munir Safi (Mosques representative to the Eden Area Interfaith Council and representing the Gading Mosque and Masjid Abu Bakr Al-Sideeq).</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="" style="display:inline-block; vertical-align:top;"> -->
              <!-- </div> -->
              <div class="abt-sectionTwo">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  </div>
                </div>
              </div>
              <div id="abt-slider" class="abt-slider">
                <div class="item abt-block">
                  <div class="abt-slider-img">
                    <a href="#"><img src="{% static 'muhajireen/images/masjid_info/ca_masjids.png' %}" class="img-responsive" alt="abt-slider-01"></a>
                  </div>
                </div>
                <div class="item abt-block">
                  <div class="abt-slider-img">
                    <a href="#"><img src="{% static 'muhajireen/images/masjid_info/maqalat.png' %}" class="img-responsive" alt="abt-slider-02"></a>
                  </div>
                </div>
                <div class="item abt-block">
                  <div class="abt-slider-img">
                    <a href="#"><img src="{% static 'muhajireen/images/masjid_info/in_the_news.png' %}" alt="abt-slider-03"></a>
                  </div>
                </div>
                <div class="item abt-block">
                  <div class="abt-slider-img">
                    <a href="#"><img src="{% static 'muhajireen/images/masjid_info/our_programs.png' %}" class="img-responsive" alt="abt-slider-04"></a>
                  </div>
                </div>
                <div class="item abt-block">
                  <div class="abt-slider-img">
                    <a href="#"><img src="{% static 'muhajireen/images/masjid_info/visit_us.png' %}" class="img-responsive" alt="abt-slider-02"></a>
                  </div>
                </div>
                <div class="item abt-block">
                  <div class="abt-slider-img">
                    <a href="#"><img src="{% static 'muhajireen/images/masjid_info/faqs.png' %}" class="img-responsive" alt="abt-slider-02"></a>
                  </div>
                </div>
              </div>
              <div class="abt-content">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="abt-sectionOne">
                      <h3 class="abt-heading">The Masjid of Muhajireen was established in 1990 as a masjid and community center. It is the first established masjid in Hayward, and it is one of hundreds of masjids and Islamic Centers in California.</h3>
                      <h5 class="abt-subheading">Masjid Muhajireen welcomes visitors at all times in order foster a culture of tolerance and understanding in the San Francisco Bay Area. The prayer times (shown on the frontpage) in particular, are excellent times to visit the center in order to meet local Muslims and observe Muslim's worship.</h5>
                      <p>Masjid Muhajireen is a prayer hall for Muslims and gathering place to a diverse and dynamic community composed of, among others, indigenous Muslims and immigrants. The congregation is predominantly Afghan-Americans. The masjid is nestled on an acre-lot in a residential Tennyson-Alquire neighborhood.</p>
                      <p>The masjid consists of a nearly 3,000 sq. foot building providing a main musullah (prayer hall) and a private sister's musallah. Jummah (Friday) prayers are held weekly. The Khutbah (sermon) starts at 1:15 p.m. The Iqama (Friday prayer) is at 2 p.m. The sermon is in Farsi. Eid prayers, Taraweeh prayers, Iftaars, and other special Islamic and cultural events/holidays are also held at the Mosque of Muhajireen.</p>
                    </div>
                  </div>
                </div>
                <div class="abt-sectionTwo">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="abt-block-img">
                        <img src="{% static 'muhajireen/images/masjid_info/about_masjid.png' %}" class="img-responsive" alt="abt-img-02">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="abt-dtl">
                        <h5 class="abt-subheading">What is Masjid of Muhajireen's history?</h5>
                        <p>The Masjid of Muhajireen was established in 1990 when a handful of Muslims raised nearly $500,000 to purchase a religious building at 185 Folsom Avenue. The structure had been a Catholic Church whose congregation had outgrown the 3,000 square feet facility. After the purchase and a short renovation that included removing the pews and refitting the restrooms, the Masjid of Muhajireen opened as the first established masjid that was non-rented in Hayward. Most of the congregation traced its roots to a spike in Muslim migration (particularly refugees fleeing war in Afghanistan) to the area in the early-to-mid-1980s when Muslims had gathered for years at a leased storefront on Mission Boulevard. The other half of that initial congregation went on to establish Masjid Abu Bakr Al-Sideeq in Hayward.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        <!--  end about two -->

        <!-- jquery -->
        <!-- jquery library js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/jquery.min.js' %}"></script>
        <!-- bootstrap js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/bootstrap.min.js' %}"></script>
         <!-- owl carousel js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/owl.carousel.js' %}"></script>
        <!-- mail chimp js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/jquery.ajaxchimp.js' %}"></script>
        <!-- smooth scroll js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/smooth-scroll.js' %}"></script>
        <!-- magnify popup js-->
        <script type="text/javascript" src="{% static 'muhajireen/js/jquery.magnific-popup.min.js' %}"></script>
        <!-- menu js-->
        <script type="text/javascript" src="{% static 'muhajireen/js/menumaker.js' %}"></script>
        <!-- price slider js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/price-slider.js' %}"></script>
         <!-- event countdown js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/jquery.countdown.js' %}"></script>
        <!-- custom js -->
        <script type="text/javascript" src="{% static 'muhajireen/js/theme.js' %}"></script>
        <!-- end jquery -->

    </body>
</html>
